.services {
  background: url('');
}

.card1 {
  background-color: white;
  height: 720px;
  transform: translateY(-0.4vmax);
  border-radius: 10px;
}







.card6 {
  margin-top: -8%;
  background-color: white;
  display: flex;

  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


}

.bg-white {
  background-color: white;
  margin-bottom: 45px;

}

.card {

  background-color: white;
  display: flex;
  border-radius: 10px;


  justify-content: center;
  align-items: center;
}





.card2 {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 30px;
  align-items: center;

  justify-content: center;
}

button {
  margin-top: auto;
  position: relative;
  /* Align the button to the bottom of the card */
}

.mt-4 {
  background-color: indigo;
  border-radius: 10px;

}



.slick-slide>div {

  cursor: pointer;
  max-width: 100%;

}

.image1 {
  max-width: 100%;

  height: 400px;
  width: auto;
  /* Reset width to allow images to scale */
}

@media only screen and (max-width:720px) {
  .image1 {
    height: 100%;
  }

  .card1 {
    height: 600px;
  }

}

@media only screen and (max-width:1200px) {
  .card1 {
    height: 800px;
  }
}

@media only screen and (max-width:1300px) {
  .card1 {
    height: 770px;
  }
}


.slick-slide>div:hover {
  transform: translateY(-0.4vmax);
  box-shadow: 0px 6px 15px rgba(23, 15, 15, 0.363);
}

.headd {
  margin-bottom: 2%;
}



.bodyy {
  font-weight: 345;
  font-size: 1.3rem;
  line-height: 2rem;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 1000px) {
  .bodyy {
    font-size: 1.15rem;
  }



}

@media (max-width: 800px) {
  .bodyy {
    font-size: 1.1rem;
  }


}

@media (max-width: 400px) {
  .card1 {
    height: 620px;
  }
}